*, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'serif';
}
.col{
    width: 50%;
    background-color: azure;
    height: 800px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.get-user, .add-user{
    background-color: aquamarine;
    height: 98%;
    width: 99%;
    border-radius: 30px;
    padding: 20px;
}
.container{
    width: 100%;
}
input{
    border-radius: 50px;
    background-color: rgb(242,242,242);
    border: none;
    font-size: 16px;
    color: darkgrey;
    font-weight: bold;
    font-size: 19px;
    padding: 14px;
    padding-left: 33px;
    height: 40px;
}
.input-number{
    width:28%;
}
.input-text{
    width:100%;
}
.fa{
    position: absolute;
    margin-left: 10px;
    margin-top: 13px;
    height: 20px;
}
::-webkit-input-placeholder{
    position: relative;
    font-size: 10px;
    bottom: 3px;
}
.submit{
    width: 30%;
    border-radius: 20px;
}
.submit .fas{
    margin-right: 8px;
}
.btn{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgb(242,242,242);
    border-radius: 30px;
    font-size: 20px;
    padding-bottom: 10px;
    border: 1px solid gray;
    margin-top: 10px;
}
.add-user .container div input{
    margin-top:20px;
    width: 100%;
    margin-top: -10px;
}
.panel{
    background-color: aquamarine;
    border: none;
}
.panel-heading{
    border-radius: 20px;
}
.add-user button{
    margin: 10px;
}
.overflow-auto{
    width:100%;
    margin-top: 15px;
    height: 520px;
    overflow: auto;
}


@media screen and (max-width: 900px){
    .col{
        width: 100%;
        background-color: azure;
        height: 760px;
        border: 1px solid grey;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .get-user, .add-user{
        background-color: aquamarine;
        height: 96%;
        width: 100%;
        border-radius: 30px;
        padding: 0px;
    }
    .container{
        width: 100%;
    }
    input{
        border-radius: 50px;
        background-color: rgb(242,242,242);
        border: none;
        font-size: 16px;
        color: darkgrey;
        font-weight: bold;
        font-size: 19px;
        padding: 14px;
        padding-left: 33px;
        height: 40px;
    }
    .input-number{
        width:50%;
    }
    .overflow-auto{
        height: 450px;
    }
}

table {
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 10px;
}
table td, table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
    width: 50%;
}
table tr:nth-child(even) {
    background: #FFFFFF;
}








